<template>
  <div class="path-bar">
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item v-for="(folder, index) in folders" :key="index">
        <a href="#" @click="$emit('path', folder.path)">
          <div class="path-bar__item" v-if="(folder.name === '') && (index === 0)"><v-icon name="home"></v-icon></div>
          <div class="path-bar__item" v-else>{{ folder.name }}</div>
        </a>
      </el-breadcrumb-item>
    </el-breadcrumb>
  </div>
</template>

<script>
export default {
  name: 'PanePathBar',
  props: {
    folders: Array
  }
}
</script>

<style lang="scss" scoped>
.path-bar {
  padding: 10px;
  border: 1px solid #f2f2f2;
  .path-bar__item {
    display: inline-block;
    .icon {
      margin-top: -3px;
      height: 15px;
      width: 15px;
      vertical-align: middle;
    }
  }
}
.el-breadcrumb {
  font-size: 12px;
}
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
  font-weight: 500;
  color: #414141;
  &:hover {
    color: rgba(220, 130, 130, 1);
  }
}
</style>