<template>
  <div id="app">
    <Toolbar/>
    <div class="panes">
      <Pane v-bind:side="'left'"></Pane>
      <Pane v-bind:side="'right'"></Pane>
    </div>
  </div>
</template>

<script>
import Toolbar from './components/Toolbar'
import Pane from './components/Pane'

export default {
  name: 'App',
  components: {
    Toolbar,
    Pane
  }
}
</script>

<style lang="scss">
@import url('https://rsms.me/inter/inter.css');

body {
  background: #FFFFFF;
  font-family: 'Inter', -apple-system, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  margin: 0;
}
#app {
  margin: 0;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97vw;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.15);
}
.panes {
  display: flex;
  justify-content: space-between;
}

.el-table .cell {
  line-height: 20px !important;
  white-space: nowrap !important;
}
.el-table {
  color: #282828 !important;
}
.el-table .caret-wrapper {
  display: none !important;
}
.el-input__inner {
  color: #3D3D3D !important;
  text-align: center;
  background-color: #BDBDBD !important;
  border-radius: 0 !important;
  border: 1px solid #AEAEAE !important;
}
.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
  border-right: none !important;
}
.el-table td {
  border-bottom: none !important;
}
.el-table__body tr:hover {
  td {
    background-color: rgba(220, 130, 130, 0.15) !important;
  }
}
.el-table__body tr.current-row > td {
  background-color: rgba(220, 130, 130, 0.75) !important;
  color: white;
}
.el-checkbox__inner:hover {
  border-color: rgba(220, 130, 130, 0.5) !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: rgba(220, 130, 130, 0.85) !important;
  border-color: rgba(220, 130, 130, 0.3) !important;
}
.el-radio-button--mini .el-radio-button__inner,
.el-button--mini, .el-button--mini.is-round {
  padding: 4px 13px !important;
  font-size: 14px;
}
.el-button--mini, .el-button--small {
  border-radius: 4px !important;
}
</style>
